.modal-preview-document {
  margin: 30px;

  .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .modal-content {
    height: 100%;
  }

  .modal-header {
    height: 50px;
  }

  .modal-body {
    height: calc(100% - 105px);
    width: 100%;
  }

  .frame-preview-document {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .modal-footer {
    height: 20px;
  }
}
