$white: #fff;
$teal: #008080;
$excellent-orange: #ff7148;
$great-yellow: #fff15e;
$normal-green: #24cc51;

.modal-evaluate-member {
  .modal-dialog {
    width: 50%;
  }

  .course-info {
    margin-bottom: 10px;
    text-align: center;
  }

  .total-point {
    margin-top: 10px;
    text-align: right;
  }

  .point-input {
    input {
      width: 100%;
    }
  }

  .assign-members {
    margin-top: calc(10vh + 30px);
  }

  .check-icon {
    left: -5px;
  }

  .list-group {
    margin-bottom: 0;
  }

  .count-member {
    text-align: right;
  }

  .panel-heading {
    background-color: $teal;
    color: $white;
  }

  .result-box {
    display: block;
  }

  .result-table {
    float: right;
    margin-top: 10px;

    td {
      padding-left: 25px;
      padding-top: 10px;
    }

    .excellent {
      color: $excellent-orange;
      text-align: center;
    }

    .great {
      color: $great-yellow;
      text-align: center;

    }

    .good {
      color: $normal-green;
      text-align: center;
    }

    .training-result {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
