$white: #fff;
$black: #000;
$td-card-course-inner-color: #c31500;
$box-shadow: #dfdfdf;
$td-course-description-p-color: #989898;
$many-member-background-color: rgba(65, 65, 66, .46);
$td-course-box-before-shadow: #ccc;
$td-course-box-after-shadow: #888;
$td-program-list-course-shadow: #e5b85e;
$course-container-background: #f5f5f5;
$course-container-scrollbar-thumb: #bcb8b8;
$course-container-scrollbar-track-shadow: rgba(0, 0, 0, .3);
$list-manager-background: #f4f8fa;
$list-manager-border: #dbe3e7;

.td-padding-top {
  padding-top: 50px;

  .td-program-list-course {
    height: 200px;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;

    .td-course-box {
      background-color: $white;
      box-shadow: 0 0 3px 2px $box-shadow;
      height: 200px;
      padding-bottom: 20px;
      position: relative;
      z-index: 3;
    }

    .td-course-box-before {
      background: $white;
      box-shadow: 0 0 1px 1px $td-course-box-before-shadow;
      display: block;
      height: 100%;
      left: 19px;
      position: absolute;
      top: 4px;
      width: calc(100% - 30px);
      z-index: 2;
    }

    .td-course-box-after {
      background: $white;
      box-shadow: 0 0 19px 4px $td-course-box-after-shadow;
      display: block;
      height: 100%;
      left: 23px;
      position: absolute;
      top: 8px;
      width: calc(100% - 30px);
      z-index: 1;
    }

    a:hover {
      text-decoration: none !important;
    }
  }

  .td-program-list-course:hover {
    .td-course-box-after {
      box-shadow: 0 0 19px 8px $td-program-list-course-shadow;
    }
  }
}

.td-course-box {
  .td-course-image-manager {
    height: 25px;
    position: relative;

    li {
      float: left;
      list-style: none;
      position: absolute;
      right: -10px;
      top: -20px;
      left: calc(50% - 18px);
    }

    .td-course-manager-avatar {
      border-radius: 50%;
      box-shadow: 0 0 3px 2px $box-shadow;
      height: 36px;
      width: 36px;
      z-index: 1;
    }
  }

  .td-course-image-manager:hover {
    li:nth-child(2) {
      left: calc(50% - 58px);
      transition-duration: 1s;
    }

    li:nth-child(3) {
      left: calc(50% + 22px);
      transition-duration: 1s;
    }
  }

  .course-corner {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .td-card-course-inner {
    h3 {
      color: $td-card-course-inner-color;
      display: block;
      font-weight: 400;
      line-height: 26px;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 0 !important;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
    }
  }
}

.td-course-content {
  .td-course-content-left {
    height: 64px;
    position: relative;

    .training-standard {
      margin: 0;
    }
  }

  .td-course-image {
    img {
      left: 26%;
      margin: 0;
      position: absolute;
      top: 3px;
      width: 90%;
    }
  }
}

.td-course-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    -webkit-box-orient: vertical;
    color: $td-course-description-p-color;
    display: -webkit-box;
    -ms-flex-positive: 1;
    font-size: 15px;
    font-style: italic;
    -webkit-line-clamp: 2;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}

.td-course-edit-delete {
  bottom: 0;
  left: 0;

  a {
    margin-left: 5px;

    .glyphicon {
      font-size: 19px;
      margin-right: 5px;
    }
  }
}

.view-members {
  bottom: 1%;
  position: absolute;
  left: 35%;
}

.user-list {
  padding-left: 5px;

  li {
    float: left;
    list-style: none;
    margin: 4px;
  }

  .td-member-avatar {
    border: 4px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px $box-shadow;
    height: 30px;
    top: -20px;
    width: 30px;
  }
}

li {
  &.member-list {
    height: 25px;
    position: relative;

    .many-member {
      background-color: $many-member-background-color;
      border-radius: 50%;
      box-shadow: 0 0 3px 2px $box-shadow;
      color: $white;
      cursor: pointer;
      height: 30px;
      position: absolute;
      width: 30px;
      z-index: 1;
    }
  }
}

p {
  &.many-member {
    padding-top: 4px;
  }
}

.col-sm-6 {
  &.course-start-date {
    padding-left: 0;
  }

  &.course-end-date {
    padding-right: 0;
  }
}

.margin-select {
  margin-bottom: 20px;
}

.course-container {
  background-color: $course-container-background;
  height: 100%;
  max-height: 85vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 17px;
  width: 100%;
}

.course-container::-webkit-scrollbar-track {
  background-color: $course-container-background;
  -webkit-box-shadow: inset 0 0 6px $course-container-scrollbar-track-shadow;
}

.course-container::-webkit-scrollbar {
  background-color: $course-container-background;
  width: 6px;
}

.course-container::-webkit-scrollbar-thumb {
  background-color: $course-container-scrollbar-thumb;
}

.program-control {
  fieldset {
    margin-bottom: 10px;
  }

  button {
    margin-right: 5px;
  }
}

.image-preview {
  &.image-course {
    img {
      border-radius: 50%;
      height: 100px !important;
      width: 100px;
    }
  }
}

.modalEdit {
  .nht-assign-owner {
    .course-start-date {
      margin-bottom: 10px;
    }

    .nht-list-roles {
      margin-bottom: 10px;
    }

    .nht-list-owners {
      margin-bottom: 10px;
    }
  }
}

.form-edit-show-course {
  color: $black;
}

.btn-remove-file {
  margin-left: 10px;
}

li {
  &.manager-list {
    cursor: pointer;
    height: 36px;

    .many-manager {
      background-color: $many-member-background-color;
      border-radius: 50%;
      box-shadow: 0 0 3px 2px $box-shadow;
      color: $white;
      cursor: pointer;
      height: 36px;
      position: absolute;
      width: 36px;
      z-index: -1;
      line-height: 36px;
    }
  }
}

.td-list-manager {
  list-style-type: none;
  margin-bottom: 10px;

  .td-manager-box {
    background-color: $list-manager-background;
    border: 1px solid $list-manager-border;
    box-shadow: 0 2px 3px $list-manager-border;
    padding-bottom: 20px;
    padding-top: 20px;

    .td-manager-email {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    .td-manager-name {
      font-weight: 600;
    }
  }

}

.td-modal-manager-profile {
  .modal-dialog {
    width: 70%;

    .td-manager-profile-list {
      max-height: 70vh;
      overflow-y: auto;
    }
  }
}

.width-80 {
  width: 80px;
}

.width-100 {
  width: 100%;
}

.box-float {
  min-height: 200px;
}

.course-list-padding-top {
  padding-top: 25px;
}

.dialog-size {
  width: 75%;
}
