$fa-green: #5cb85c;
$box-shadow: #dfdfdf;
$white: #fff;
$black: #000;
$hr-light-gray: #eee;

.roles {
  overflow: hidden;

  .checkbox {
    float: left;
    margin-left: 80px;
  }
}

.avatar-container {
  height: 150px;
  line-height: 0;
  position: relative;
  width: 100%;

  .avatar-size {
    height: 100%;
    margin: 0 auto;
    width: 150px;
  }

  .upload-btn-overlay {
    background: $black;
    bottom: 0;
    color: $white;
    display: none;
    line-height: 35px;
    opacity: .2;
    position: absolute;
    transition: opacity .13s ease-out;
    width: 100%;
    z-index: 1;
  }
}

.avatar-container:hover {
  .upload-btn-overlay {
    display: block;
  }

  .upload-btn-overlay:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.img-size {
  margin: 0 auto;
  width: 50%;
}

.image-center {
  text-align: center;
}

.btn {
  margin-right: 5px;
}

.modal-body {
  .arrow {
    color: $fa-green;
    font-size: 40pt;
    margin-left: 30%;
    margin-top: 30%;
    vertical-align: middle;
  }
}

.box {
  box-shadow: 0 2px 3px 3px $box-shadow;
  padding: 15px;
}

.roles-box {
  margin-bottom: 10px;
  margin-top: 25px;
}

.button-new {
  left: 50%;
  position: absolute;
  top: 78px;
  z-index: 9;
}

.basic-form {
  margin-bottom: 120px;
  margin-top: 60px;
}

.box-profile {
  hr {
    border: 0;
    border-top: 1px solid $hr-light-gray;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.nav-user {
  .active {
    a {
      background-color: $white !important;
    }
  }
}

.profile-container {
  margin-bottom: 30px;
  margin-top: 20px;
}
