$user-course-back: #3c586a;
$header-title: #21abc7;
$node-backgroud: #e2e8e8;
$subject-name: #21abc7;
$course-header: #e46c11;
$plus-node: #b3b3b3;
$plus-node-hover: #e0e1dd;
$box-title: #575a5b;
$box-primary: #3c8dbc;
$box-header: #444;
$box-border-top: #d2d6de;
$white: #fff;
$black: #000;
$aqua: #0ff;
$gray: #808080;

.user-course-show {
  .list-subject {
    margin-top: 10px;

    .user-course-subject {
      text-decoration: none;
    }

    .subject-start-date {
      color: $black;
      font-weight: 400;
    }

    .description-course {
      color: $black;
      font-weight: 400;
    }
  }

  .user-course {
    background-color: $user-course-back;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 5px 5px 5px 0 $gray;
    color: $white;
    float: none;
    margin: 0;
    margin-top: 15px;
    padding: 14px 0;
  }

  .list-subject {
    .subject {
      background-color: $white;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      box-shadow: 0 1px 1px $black;
      margin: 7px 0;
      margin-top: 15px;
      padding: 5px 2px;
    }

    .image-course-header {
      display: flex;
    }

    .img-circle {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    .subject-header {
      display: block;
      margin-left: 20px;
    }

    .header-title {
      color: $header-title;
      font-size: 120%;
      font-weight: 700;
      margin-right: 10px;
    }

    .subject-start-date {
      padding-top: 5px;
    }

    .label-status {
      border-radius: 3px;
      color: $white;
      font-weight: 500;
      padding: 0 3px 1px 5px;
    }
  }

  .user-list {
    padding-left: 3px;

    li {
      float: left;
      list-style: none;
      margin: 6px;
    }

    .box-title {
      color: $box-title;
      margin: 0;
    }
  }
}
