<div id="training_standard_show">
  <%= react_component "TrainingStandardShow",
    props: {
      selected_subjects: @training_standard_supports.standard_subjects,
      training_standard: @training_standard_supports
        .training_standard_serializer,
      evaluation_template: @training_standard_supports.evaluation_template,
      organization: @training_standard_supports.organization,
      standard_organizations: @training_standard_supports
        .standard_organizations,
      share_with_organization: @training_standard_supports
        .share_with_organization,
      remain_subjects: @training_standard_supports.remain_subjects},
    prerender: false %>
</div>
