<div id="training_standard_show">
  <%= react_component "TrainingStandardShow",
    props: {
      selected_subjects: @supports.standard_subjects,
      training_standard: @training_standard,
      evaluation_template: @training_standard.evaluation_template,
      organization: @supports.organization,
      standard_organizations: @supports.standard_organizations,
      share_with_organization: @supports.share_with_organization,
      remain_subjects: @supports.remain_subjects},
    prerender: false %>
</div>
