<div id="training_standard_show">
  <%= react_component "TrainingStandardShow",
    props: {
      selected_subjects: @supports.selected_subjects,
      training_standard: @training_standard,
      evaluation_template: @training_standard.evaluation_template,
      organization: @supports.organization,
      selected_organizations: @supports.selected_organizations,
      remain_subjects: @supports.remain_subjects},
    prerender: false %>
</div>
