$c-red: #f44542;
$c-ddd: #ddd;
$c-green: #008000;
$c-eee: #eee;
$c-gray: #808080;
$c-blue: #428bca;
$c-white: #fff;

.block-content {
  padding: 10px 0;
}

.question {
  background: $c-eee;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  padding: 15px;
  padding-right: 15px;
  position: relative;
}

.show-question {
  padding: 0 !important;
  padding-right: 15px !important;
}

.show-question .side-left {
  background: $c-ddd;
  height: 100%;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 1000;
}

.delete-question {
  padding-top: 15px;

  a {
    background: $c-red;
    border: 1px solid $c-red;
    border-radius: 50%;
    color: $c-white;
    cursor: pointer;
    padding: 5px 8px;
  }
}

.edit-question {
  padding-top: 20px;

  a {
    background: $c-blue;
    border: 1px solid $c-blue;
    border-radius: 50%;
    color: $c-white;
    cursor: pointer;
    padding: 5px 8px;
  }
}

.side-right .question-content {
  padding-top: 20px;
}

.list-answers {
  .tool-bar {
    display: inline-block;

  }

  .side-right {
    display: inline-block;
    float: right;
    padding: 0;
  }
}

.list-action {
  line-height: 2;
  text-align: right;

  .action-delete {
    background: $c-red;
    border: 1px solid $c-red;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    padding: 0 9px;
  }

  .correct-answer {
    display: inline-block;
    margin-right: 20px;
  }
}

.action-delete {
  a {
    color: $c-white;
  }
}

.check {
  cursor: pointer;
  padding: 0 7px;
}

.pointer {
  cursor: default;
}

.answer-fail {
  background: $c-red;
  border: 1px solid $c-red;
  border-radius: 50%;
  color: $c-white;
  padding: 0 9px !important;

  a {
    color: $c-white;
  }
}

.check-disable {
  border: 1px solid $c-gray;
  border-radius: 50%;
  color: $c-gray;

  a {
    color: $c-gray;
  }
}

.check-enable {
  background: $c-green;
  border: 1px solid $c-green;
  border-radius: 50%;
  color: $c-white;

  a {
    color: $c-white;
  }
}

.save-question {
  margin-right: 20px;
}
