$orange: #e46c11;
$silver: #eee;
$black: #1c1c1c;
$show-course-subject-blue-sky: #3c586a;
$show-course-subject-silver: #666;
$show-course-subject-white: #fff;
$course-show-subject: #242424;
$course-show-node: #e2e8e8;
$subject-name: #21abc7;
$member-list: #72afd2;
$plus-node: #b3b3b3;
$plus-node-a: #e0e1dd;
$box-title: #575a5b;
$box-primary: #3c8dbc;
$section-content-box: #d2d6de;
$section-content-box-shadow: #303030;
$box-header: #444;
$info-black: #000;
$td-course-edit-delete: #eee;
$td-course-edit-delete-span: #1c1c1c;

.course-subject {
  background-color: $show-course-subject-blue-sky;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 5px 5px 5px 0 $show-course-subject-silver;
  color: $show-course-subject-white;
  margin: 0;
  margin-top: 15px;
  padding: 14px 0;
}

.course-subject .modal-content {
  color: $info-black;
}

.subject {
  background-color: $show-course-subject-white;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0 1px 1px $course-show-subject;
  margin: 7px 0;
  margin-top: 15px;
  padding: 5px 2px;
}

.node--connected::after {
  background: $course-show-node;
  bottom: 18px;
  content: '';
  height: 125px;
  left: 28px;
  position: absolute;
  width: 6px;
  z-index: -1;
}

.node {
  border: 3px solid $show-course-subject-white;
  border-radius: 50%;
  height: 32px;
  margin-top: 46px;
  width: 32px;
}

.subject-image {
  padding-left: 5px;
  padding-right: 0;
}

.infor {
  margin-right: 0;
  padding-top: 13px;
}

.subject-name {
  color: $subject-name;
  font-size: 20px;
  font-weight: 300;
  margin: 4px 0;
}

.image-course-header {
  display: flex;
}

.image-course-header .img-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.course-header {
  display: block;
  margin-left: 20px;
}

.course-header .header-title {
  color: $orange;
  font-size: 200%;
  font-weight: 700;
  margin-right: 10px;
}

.course-header .label-status {
  border-radius: 3px;
  color: $show-course-subject-white;
  font-weight: 500;
  padding: 0 3px 1px 5px;
}

.info-panel .user-list {
  padding-left: 3px;
}

.info-panel .user-list li {
  float: left;
  list-style: none;
  margin: 6px;
}

.info-panel .member-list {
  list-style: none;
  margin-top: 10px;
  padding: 0 0 0 5px;
}

.info-panel .member-list .member-item {
  margin-bottom: 10px;
}

.member-list .member-item a {
  text-decoration: none;
}

.member-list .member-item a:hover {
  color: $member-list;
}

.info-panel .plus-node {
  background-color: $plus-node;
  border-radius: 50%;
  color: $show-course-subject-white;
  height: 30px;
  line-height: 2;
  text-align: center;
  width: 30px;
}

.info-panel .plus-node a {
  color: $show-course-subject-white;
}

.info-panel .plus-node:hover {
  background-color: $plus-node-a;
}

.info-panel .doc-field {
  list-style-type: circle;
  padding-left: 28px;
}

.info-panel .doc-field a {
  text-decoration: underline !important;
}

.info-panel .doc-field [title] {
  border-bottom: 0;
}

.info-panel .box-title {
  color: $box-title;
  margin: 0;
}

.info-panel .section-content .box-primary {
  border-top-color: $box-primary;
}

.info-panel .section-content .box {
  background: $show-course-subject-white;
  border-radius: 3px;
  border-top: 3px solid $section-content-box;
  box-shadow: 0 1px 1px $section-content-box-shadow;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.info-panel .section-content .box-header {
  color: $box-header;
  display: block;
  padding: 10px;
  position: relative;
}

.info-panel .section-content .box-body {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
}

.infor {
  color: $info-black;
}

.subject-list {
  margin-left: 19px;
  padding-top: 30px;
}

$init-color: GREEN;
$progress-color: BLUE;
$finish-color: #ccc;
$waiting-color: #df8b14;
$testing-color: #5bc0de;
$pass-color: GREEN;
$fail-color: RED;

.init-color {
  color: $init-color;
}

.init-background-color {
  background-color: $init-color !important;
}

.init-border-color {
  border: 1px solid $init-color;
}

.progress-color,
.in-progress-color,
.inprogress-color {
  color: $progress-color;
}

.waiting-background-color {
  background-color: $waiting-color !important;
}

.testing-background-color {
  background-color: $testing-color !important;
}

.progress-background-color,
.in-progress-background-color {
  background-color: $progress-color !important;
}

.pass-background-color {
  background-color: $pass-color;
}

.fail-background-color {
  background-color: $fail-color;
}

.progress-border-color {
  border: 1px solid $progress-color;
}

.finish-color,
.finished-color,
.complete-color {
  color: $finish-color;
}

.finish-background-color,
.finished-background-color {
  background-color: $finish-color !important;
}

.finish-border-color {
  border: 1px solid $finish-color;
}

.td-course-edit-delete a {
  margin-left: 5px;
}

.td-course-edit-delete .btn.glyphicon {
  background-color: $td-course-edit-delete;
  border-radius: 50%;
  box-shadow: 0 1px 1px $td-course-edit-delete-span;
  color: $orange;
  font-size: 18px;
  margin: 5px 10px 0 5px;
}

.btn.glyphicon.glyphicon-list {
  background-color: $silver;
  border-radius: 50%;
  box-shadow: 0 1px 1px $black;
  color: $orange;
  font-size: 18px;
  margin: 5px 10px 0 5px;
}

img {
  &.creator-image {
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }
}

.btn-primary.btn-xs {
  background-color: $init-color !important;
  border-color: $init-color;
}

.btn-warning.btn-xs {
  background-color: $progress-color;
  border-color: $progress-color;
}

$btn-danger-xs: #dd4b39;

.btn-danger.btn-xs {
  background-color: $btn-danger-xs;
  border-color: $btn-danger-xs;
}
