$panel-heading-background: #c7d0d5;
$panel-title-color: #31708f;

#list-programs {
  .panel-group {
    .program {
      margin-bottom: 20px;

      .panel-heading {
        background: $panel-heading-background;
        padding-left: 20px;

        .name-program {
          .panel-title {
            .icon {
              cursor: pointer;
              display: inline-block;
              padding-right: 20px;
            }

            .name {
              display: inline-block;
            }
          }
        }

        .function {
          text-align: right;

          .list-function {
            display: inline-block;

            i {
              padding-right: 20px;
            }
          }

          .list {
            display: inline-block;
          }
        }

        .panel-title {
          color: $panel-title-color;
          font-size: 15px;

          a:hover {
            text-decoration: none !important;
          }
        }
      }

      .panel-body {
        .box-success {
          border: 0;
          box-shadow: none !important;
          margin-bottom: 0;

          .box-header {
            display: none !important;
          }
        }

        .box-body {
          .link-course {
            &a:hover {
              text-decoration: none;
            }
          }

          .list-trainers {
            .block-trainer {
              float: left;
              padding: 10px 0;

              .image {
                display: inline-block;
                list-style: none;
                padding: 0 10px;

                img {
                  height: 35px;
                  width: 35px;
                }
              }

              .name {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
