.td-padding-top {
  padding-top: 50px;
  .td-program-list-course {
    padding: 0 15px;
    position: relative;
    margin-bottom: 30px;
    height: 200px;
    .td-course-box {
      box-shadow: 0 0 3px 2px #dfdfdf;
      background-color: #FFF;
      position: relative;
      z-index: 3;
      padding-bottom: 20px;
      height: 200px;
      .td-course-image-manager {
        position: relative;
        height: 36px;

        .td-course-manager-avatar {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          z-index: 1;
          border: 4px solid white;
          box-shadow: 0 0 3px 2px #dfdfdf;
          cursor: pointer;
          left: calc(50% - 18px);
          right: -10px;
          top: -20px;
          position: absolute;
        }
      }
      .td-course-image-manager:hover {
        img:nth-child(2) {
          transition-duration: 1s;
          left: calc(50% - 58px);
        }
        img:nth-child(3) {
          transition-duration: 1s;
          left: calc(50% - 58px);
        }
        img:nth-child(4) {
          transition-duration: 1s;
          left: calc(50% + 58px);
        }
        img:nth-child(5) {
          transition-duration: 1s;
          left: calc(50% + 58px);
        }
      }

      .td-card-course-inner {
        h3 {
          line-height: 24px;
          text-align: center;
          color: #637b81;
          font-weight: 400;
          display: block;
          width: 90%;
          margin: auto auto;
          margin-top: 0 !important;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;  
        }
        .td-course-content {
          .td-course-content-left {
            position: relative;
            height: 100px;
            .td-course-description {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 60px;
              p {
                font-size: 16px;
                line-height: 20px;
                color: #989898;
                margin-bottom: 20px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                height: auto;
              }
            }

            .td-course-edit-delete {
              position: absolute;
              width: 95%;
              bottom: 0;
              left: 0;
              a {
                margin-left: 5px;
                span {
                  &.glyphicon {
                    font-size: 19px;
                    margin-right: 5px;
                  }
                }
              }

            }
          }

          .td-course-image {
            img {
              height: 100px !important;
            }
          }

        }
      }
    }

    .td-course-box-before {
      position: absolute;
      width: calc(100% - 30px);
      height: 100%;
      display: block;
      box-shadow: 0 0 1px 1px #cccccc;
      background: white;
      top: 4px;
      left: 19px;
      z-index: 2;
    }

    .td-course-box-after {
      position: absolute;
      width: calc(100% - 30px);
      height: 100%;
      display: block;
      box-shadow: 0 0 1px 1px #cccccc;
      background: white;
      top: 8px;
      left: 23px;
      z-index: 1;
    }
  }
}
.col-sm-6 {
  &.course-start-date {
    padding-left: 0px;
  }
  &.course-end-date {
    padding-right: 0px;
  }
}

