$white: #fff;
$black: #000;
$td-card-course-inner-color: #c31500;
$box-shadow: #dfdfdf;
$td-course-description-p-color: #989898;
$many-member-background-color: rgba(65, 65, 66, .46);
$td-course-box-before-shadow: #ccc;
$td-course-box-after-shadow: #888;
$td-program-list-course-shadow: #e5b85e;
$course-container-background: #f5f5f5;
$course-container-scrollbar-thumb: #bcb8b8;
$course-container-scrollbar-track-shadow: rgba(0, 0, 0, .3);

.td-padding-top {
  padding-top: 50px;

  .td-program-list-course {
    height: 200px;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;

    .td-course-box {
      background-color: $white;
      box-shadow: 0 0 3px 2px $box-shadow;
      height: 200px;
      padding-bottom: 20px;
      position: relative;
      z-index: 3;

      .td-course-image-manager {
        height: 25px;
        position: relative;

        .td-course-manager-avatar {
          border: 4px solid $white;
          border-radius: 50%;
          box-shadow: 0 0 3px 2px $box-shadow;
          cursor: pointer;
          height: 36px;
          left: calc(50% - 18px);
          position: absolute;
          right: -10px;
          top: -20px;
          width: 36px;
          z-index: 1;
        }
      }

      .td-course-image-manager:hover {
        img:nth-child(2) {
          left: calc(50% - 58px);
          transition-duration: 1s;
        }

        img:nth-child(3) {
          left: calc(50% - 58px);
          transition-duration: 1s;
        }

        img:nth-child(4) {
          left: calc(50% + 58px);
          transition-duration: 1s;
        }

        img:nth-child(5) {
          left: calc(50% + 58px);
          transition-duration: 1s;
        }
      }

      .td-card-course-inner {
        h3 {
          color: $td-card-course-inner-color;
          display: block;
          font-weight: 400;
          line-height: 26px;
          margin: auto;
          margin-bottom: 10px;
          margin-top: 0 !important;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 90%;
        }

        .td-course-content {
          .td-course-content-left {
            height: 64px;
            position: relative;

            .training_standard {
              margin: -2px 0 -5px -13px;
            }

            .td-course-description {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;

              p {
                -webkit-box-orient: vertical;
                color: $td-course-description-p-color;
                display: -webkit-box;
                -ms-flex-positive: 1;
                font-size: 15px;
                font-style: italic;
                -webkit-line-clamp: 2;
                line-height: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
              }
            }

            .td-course-edit-delete {
              bottom: 0;
              left: 0;
              position: absolute;
              width: 95%;

              a {
                margin-left: 5px;

                span {
                  &.glyphicon {
                    font-size: 19px;
                    margin-right: 5px;
                  }
                }
              }

            }
          }

          .td-course-image {
            img {
              border-radius: 50%;
              height: 65px !important;
              margin: -8px 0 0 -12px;
              max-width: 65px !important;
            }
          }

        }

        .view-members {
          margin: 0 45px;

          .user-list {
            padding-left: 5px;

            li {
              float: left;
              list-style: none;
              margin: 4px;

              &.member-list {
                height: 25px;
                position: relative;

                p {
                  &.many-member {
                    padding-top: 4px;
                  }
                }

                .many-member {
                  background-color: $many-member-background-color;
                  border-radius: 50%;
                  box-shadow: 0 0 3px 2px $box-shadow;
                  color: $white;
                  cursor: pointer;
                  height: 30px;
                  position: absolute;
                  width: 30px;
                  z-index: 1;
                }
              }

              .td-member-avatar {
                border: 4px solid $white;
                border-radius: 50%;
                box-shadow: 0 0 3px 2px $box-shadow;
                height: 30px;
                top: -20px;
                width: 30px;
              }
            }
          }
        }
      }

      .course-corner {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }

    .td-course-box-before {
      background: $white;
      box-shadow: 0 0 1px 1px $td-course-box-before-shadow;
      display: block;
      height: 100%;
      left: 19px;
      position: absolute;
      top: 4px;
      width: calc(100% - 30px);
      z-index: 2;
    }

    .td-course-box-after {
      background: $white;
      box-shadow: 0 0 19px 4px $td-course-box-after-shadow;
      display: block;
      height: 100%;
      left: 23px;
      position: absolute;
      top: 8px;
      width: calc(100% - 30px);
      z-index: 1;
    }

    a:hover {
      text-decoration: none !important;
    }
  }

  .td-program-list-course:hover {
    .td-course-box-after {
      box-shadow: 0 0 19px 8px $td-program-list-course-shadow;
    }
  }
}

.col-sm-6 {
  &.course-start-date {
    padding-left: 0;
  }

  &.course-end-date {
    padding-right: 0;
  }
}

.margin-select {
  margin-bottom: 20px;
}

#course-container {
  background-color: $course-container-background;
  height: 100%;
  max-height: 85vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 17px;
  width: 100%;
  background-color: White;
}

#course-container::-webkit-scrollbar-track {
  background-color: $course-container-background;
  -webkit-box-shadow: inset 0 0 6px $course-container-scrollbar-track-shadow;
}

#course-container::-webkit-scrollbar {
  background-color: $course-container-background;
  width: 6px;
}

#course-container::-webkit-scrollbar-thumb {
  background-color: $course-container-scrollbar-thumb;
}

#program-control {
  fieldset {
    margin-bottom: 10px;
  }

  button {
    margin-right: 5px;
  }
}

.image-preview {
  &.image-course {
    img {
      border-radius: 50%;
      height: 100px !important;
      width: 100px;
    }
  }
}

.modalEdit {
  .modal-body {
    .nht-assign-owner {
      .course-start-date {
        margin-bottom: 10px;
      }

      .nht-list-roles {
        margin-bottom: 10px;
      }

      .nht-list-owners {
        margin-bottom: 10px;
      }
    }
  }
}

.form-edit-show-course {
  color: $black;
}

.btn-remove-file {
  margin-left: 10px;
}
