$white: #fff;
$black: #000;
$list-organization-info-background: #d9edf7;
$list-organization-info-color: #31708f;
$number-suborganization-border: #ddd;

.box-organization {
  padding: 10px;

  .active {
    display: block;
  }

  .list-sub-organization {
    .list-organization {
      margin-bottom: 0;

      .parent {
        background: $white;
        padding: 10px;

        &.info {
          background: $list-organization-info-background;
          color: $list-organization-info-color;
        }

        .organization-info {
          .show {
            padding-right: 20px;
          }

          .name-organization {
            a:hover {
              text-decoration: none;
            }
          }

          .inline {
            display: inline-block !important;
          }
        }

        .function {
          .fl-right {
            float: right;

            .list-function {
              display: inline-block;

              .create {
                padding-right: 20px;
              }

              .edit {
                padding-right: 20px;
              }
            }

            .none {
              display: none !important;
            }

            .list-icon {
              display: inline-block;
            }
          }
        }
      }

      .number-suborganization {
        border: 1px solid $number-suborganization-border;
        margin-bottom: 10px;
        padding: 20px;
      }

      .list-children {
        margin-bottom: 0 !important;
        padding-left: 30px;

        .children {
          .list-organization {
            border: 0;
            margin: 10px 0;
            margin-bottom: 0;
          }
        }

        .parent-children {
          .list-organization {
            background: $white;
            border: 0;
            cursor: pointer;

            .organization-info {
              .show {
                padding-right: 20px;
              }

              .inline {
                display: inline-block !important;
              }
            }

            .function {
              .fl-right {
                float: right;

                .list-function {
                  display: inline-block;

                  .create {
                    padding-right: 20px;
                  }

                  .edit {
                    padding-right: 20px;
                  }
                }

                .none {
                  display: none !important;
                }

                .list-icon {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.count-users {
  color: $black;
  font-weight: bold;
  margin-left: -24px;
}

.subsit-users {
  float: left;
}

.image-others {
  cursor: pointer;
  opacity: .5;
}

.member-title .block-trainer .image {
  padding: 0 10px;

  img {
    width: 35px;
  }
}
