.programs-of-organization {
  .sub-node {
    margin-left: 40px;
    margin-top: 5px;

    .list-group {
      margin-bottom: 0;
    }
  }

  .cursor {
    cursor: pointer;
  }

  .animation {
    transition: left 1s ease-in-out;
  }

  .fa-minus,
  .fa-plus {
    margin-right: 10px;
    margin-top: 3px;
  }

  .badge {
    margin-left: 20px;
  }

  .list-group {
    margin-bottom: 0;
  }
}
