$border-color: #bce8f1;
$border-bottom: #ddd;

.panel-info {
  border-color: $border-color;
  margin: 9px 21px;

  .one-item {
    height: 45px;
    margin-bottom: 3px;

    .index-nonselect {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 10px;
      text-align: center;
    }

    .content-item {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 8px;
    }
  }
}
