.custom-subject-list {
  .list-group-item {
    input {
      margin: 5px 10px;
    }
  }
}

.border-btn {
  margin: 2% 0 0 2%;
}

.custom-padding-action {
  padding: 2% 0 0 3%;
}

.custom-padding-table {
  padding: 0 3%;
}
