$border-color: #bce8f1;
$border-bottom: #ddd;
$c-white: #fff;
$green: #27ae60;
$box-shadow-alpha: rgba(0, 0, 0, .4);
$light-gray: #ccc;
$black: #000;
$dark-brown: #333;

.custom-subject-list {
  .list-group-item {
    input {
      margin: 5px 10px;
      margin-right: 25px;
    }
  }
}

.border-btn {
  margin: 2% 0 0 2%;
}

.custom-padding-action {
  padding: 2% 0 0 3%;
}

.custom-padding-table {
  padding: 0 3%;
}

.panel-info {
  border-color: $border-color;

  .one-item {
    height: 45px;
    margin-bottom: 3px;

    .index-nonselect {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 10px;
      text-align: center;
    }

    .content-item {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 8px;
    }
  }
}

.modal-evaluation-template {
  .panel-info {
    border-radius: 0;
    border-top: 0;
  }

  .list-evaluation-standards {
    max-height: 40vh;
    overflow-y: auto;
    padding: 0;

    .table {
      margin-bottom: 0;
    }
  }
}

.new-item {
  cursor: pointer;
  text-decoration: none;
}

.new-item:hover {
  cursor: pointer;
  text-decoration: none;
}

.nav-tabs {
  .active {
    .tab {
      background: $c-white !important;
    }
  }
}

.list-buttons {
  padding: 15px;
}

.header-button {
  margin: 0 15px;
}

.box.box-standard-subjects {
  padding: 0 15px;
}

.shared-organizations {
  background: $c-white;
  border: 1px solid $border-bottom;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 15px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}

.multi-step-form {
  margin: 50px auto;
  position: relative;
  width: 100%;
}

.multi-step-form {
  fieldset {
    background: $c-white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px $box-shadow-alpha;
    box-sizing: border-box;
    padding: 20px 30px;
    position: relative;
    width: 100%;
  }

  fieldset:not(:first-of-type) {
    display: none;
  }

  .action-button {
    background: $green;
    border: 0 none;
    border-radius: 1px;
    color: $c-white;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 5px;
    padding: 10px 5px;
    width: 100px;
  }

  .action-button:hover,
  .action-button:focus {
    box-shadow: 0 0 0 2px $c-white, 0 0 0 3px $green;
  }

  .multi-step-progress-bar {
    counter-reset: step;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;

    li {
      float: left;
      font-size: 9px;
      list-style-type: none;
      position: relative;
      text-transform: uppercase;
      width: 33.33%;
    }

    li::before {
      background: $light-gray;
      border-radius: 3px;
      color: $dark-brown;
      content: counter(step);
      counter-increment: step;
      display: block;
      font-size: 10px;
      line-height: 20px;
      margin: 0 auto 5px;
      width: 20px;
    }

    li::after {
      background: $light-gray;
      content: '';
      height: 3px;
      left: -46%;
      position: absolute;
      top: 9px;
      width: 92%;
      z-index: 0;
    }

    li:first-child::after {
      content: none;
    }

    .active::before,
    .active::after {
      background: $green;
      color: $c-white;
    }
  }
}

.subject-container {
  background-color: $c-white;
  height: 100%;
  max-height: 50vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.require {
  text-align: center;
  margin-top: 5px;
  input {
    height: 15px;
    width: 15px;
  }
}
