$border-color: #bce8f1;
$border-bottom: #ddd;
$c-white: #FFF;

.custom-subject-list {
  .list-group-item {
    input {
      margin: 5px 10px;
    }
  }
}

.border-btn {
  margin: 2% 0 0 2%;
}

.custom-padding-action {
  padding: 2% 0 0 3%;
}

.custom-padding-table {
  padding: 0 3%;
}

.panel-info {
  border-color: $border-color;

  .one-item {
    height: 45px;
    margin-bottom: 3px;

    .index-nonselect {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 10px;
      text-align: center;
    }

    .content-item {
      border-bottom: 1px solid $border-bottom;
      height: 100%;
      padding-top: 8px;
    }
  }
}

.modal-evaluation-template {
  .panel-info {
    border-top: none;
    border-radius: 0;
  }

  .list-evaluation-standards {
    padding: 0;
    max-height: 40vh;
    overflow-y: auto;

    .table {
      margin-bottom: 0;
    }
  }

  .new-item {
    cursor: pointer;
    text-decoration: none;
  }
}

.nav-tabs {
  .active {
    .tab {
      background: $c-white !important;
    }
  }
}

.list-buttons {
  padding: 15px;
}

.header-button {
  margin: 0 15px;
}

.box.box-standard-subjects {
  padding: 0 15px;
}

.shared-organizations {
  margin: 0 15px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid $border-bottom;
  background: $c-white;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
