$c-white: #FFF;

.show-static-task {
  .subject-name {
    margin-bottom: 10px;
  }

  .content-box {
    background: $c-white;
    padding: 15px;

    .static-task-name {
      font-size: 24px;
      margin: 0 0 15px;
      padding: 0;
    }
  }

  .box {
    padding: 0;
  }

  .description {
    font-style: italic;
  }

  .course-name {
    font-weight: bold;
  }

  .modal-meta-tasks {
    .griddle-table {
      height: 50vh;
      overflow-y: auto;
    }
  }
}
