@import 'color';

.griddle-head {
  margin: 10px 0;

  .griddle-page-select,
  .griddle-previous-button,
  .griddle-next-button {
    background: transparent;
    border: 1px solid $gridle-color;
    color: $gridle-color;
    display: inline-block;
    height: 32px;
    margin: 0 5px;
    padding: 0 5px;
  }

}

.griddle-table-heading-cell {
  background-color: $light-gray;
  cursor: pointer;
}

.role-detail .modal-dialog {
  width: 80%;

  .modal-header {
    border-bottom: 0;
  }

  .modal-body {
    padding: 5px;

  }

  .role-name {
    margin-left: 20px;
    width: 30%;

  }

  input {
    padding-left: 10px;
  }

}
