@import "color";

.griddle-head {
  margin: 10px 0;

  .griddle-page-select, .griddle-previous-button, .griddle-next-button {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
    color: #649;
    border: 1px solid #649;
    height: 32px;
    background: transparent;
  }
}

.griddle-table-heading-cell {
  cursor: pointer;
  background-color: $light_gray;
}

#role_detail .modal-dialog{
  width: 80%;

  .modal-header{
    border-bottom: none;
  }

  .modal-body{
    padding: 5px;

    .role_name{
      width: 30%;
      margin-left: 20px;

      input{
        padding-left: 10px
      }
    }
  }
}
