@import 'color';

.td-box {
  text-align: center;
  width: 100%;

  .td-course-image {
    height: 50px;
    width: 50px;
  }

}

.td-program-users {
  max-height: 150px;
  overflow-y: auto;

  .td-program-list-user {
    height: 60px;
    width: 24% !important;

    img {
      cursor: pointer;
    }

  }

  .td-user-list-modal {
    cursor: pointer;
    height: 60px;

    b {
      background: $b-background;
      border-radius: 50%;
      display: block;
      height: 40px;
      margin-bottom: 0 !important;
      padding-top: 10px;
    }

  }

}

.inner {
  height: 110px;
}

.width-70 {
  width: 70% !important;
}

.user-lists-modal {
  .modal-dialog {
    max-height: 110vh;
    overflow-y: auto;
  }

  .users-list-fix {
    float: left;
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
    width: 15% !important;

    img {
      border-radius: 100%;
      margin: 0 auto;
      width: 70%;
    }

    .users-list-name {
      margin-bottom: 0 !important;
    }

  }

}
