.admin-subjects {
  .image-preview {
    img {
      max-width: 100%;
    }
  }

  .thumbnail-image {
    width: 100px;
  }

  .dropzone {
    margin-top: 10px;
  }
}

.image-subject {
  width: 140px;
}

.user-subject {
  margin-top: 10px;
}

.image-subject {
  margin-left: 15px;
}
