<% if @course %>
  <%= react_component "CoursesShowBox",
    props: {program: @program, course: @course,
    course_subjects: @supports.course_subjects}, prerender: false %>
<% else %>
  <div><%= I18n.t "course.no_content" %></div>
<% end %>
