<% if @course %>
  <%= react_component "CourseBox",
    props: {
      course: @course_supports.course_serializer,
      subjects: @course_supports.subject_serializer,
      remain_surveys: @course_supports.remain_surveys,
      selected_surveys: @course_supports.selected_surveys,
      remain_testings: @course_supports.remain_testings,
      selected_testings: @course_supports.selected_testings,
      managed_courses: @course_supports.managed_courses_serializer,
      current_user_subjects: @course_supports.current_user_subjects_serializer,
      other_courses: @course_supports.other_courses
    }, prerender: false %>
<% else %>
  <div><%= I18n.t "courses.no_content" %></div>
<% end %>
