$white: #fff;
$black: #000;
$green: #00a65a;
$gray-blue: #31424d;
$background-white: #f5f5f5;
$avatar-border: #f3f3e7;
$scrollbar-gray: #bcb8b8;
$team-header-orange: #ff7148;
$team-header-after-orange: #bf360c;
$box-shadow-hover-gray: #5e5c5a;
$box-shadow-light-gray: #777;
$team-background-yellow: #fcf8e3;
$progress-blue: #3071a9;
$scrollbar-shadow: rgba(0, 0, 0, .3);
$trainee-assignment-yellow: #fcf8c3;
$trainee-item-shadow: #c7b6b6;
$trainee-assignment-infor-detail: rgba(0, 0, 0, .23);
$trainee-assignment-status-init-green: #58fa82;
$trainee-assignment-border-status-init-green: #04b404;
$trainee-assignment-status-progress-blue: #b4e4f6;
$trainee-assignment-border-status-progress-blue: #43bce9;
$trainee-assignment-status-progress-red: #f9c1b3;
$trainee-assignment-border-status-progress-red: #fb6e52;
$trainee-avatar-border-white: #f3f3e7;

.admin-subject-show {
  margin-bottom: 10px;

  .create-task {

    .form {
      margin-bottom: 20px;
    }

    input {
      margin-bottom: 10px;
    }

    .submit {
      float: right;
    }

    .button-show {
      float: right;
      margin-bottom: 10px;
    }

    .change-panel {
      padding: 10px;
    }
  }

  .button-show {
    float: right;
    margin-bottom: 10px;
  }

  .form-task {
    margin-bottom: 20px;

    input {
      margin-bottom: 10px;
    }
  }

  .submit .task {
    float: right;
  }
}

.nav-tabs {

  &.tab-bar {
    border-bottom: 0;
    padding: 0 14px;

    .fa {
      margin-right: 10px;
    }
  }

  .active {
    a {
      background: $green !important;
      color: $white !important;
    }
  }

  .check-icon {
    left: -5px;
  }
}

.assignment-box {
  padding: 10px;

  .assignment-item {
    background-color: $trainee-assignment-yellow;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px $trainee-item-shadow;
    color: $black;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;

    .cursor {
      cursor: pointer;
    }

    .info-detail::before {
      background-color: $trainee-assignment-infor-detail;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 1px;
    }

    .detail {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .name {
      font-size: 16pt;
      font-weight: bold;
    }

    .content-assignment {
      font-size: 12pt;
      min-height: 10px;
    }

    .avatar-user {
      position: relative;
    }

    img {
      border: 1px solid $trainee-avatar-border-white;
      height: 50px;
      left: calc(50% - 25px);
      position: absolute;
      top: 30px;
      width: 50px;
    }

    .fa {
      margin-right: 5px;
    }

    .list-menu {
      min-width: 100px;
      top: -40px;
    }

    .list-menu::before {
      border: 9px solid transparent;
      border-top-color: $white;
      bottom: -15px;
      content: '';
      height: 0;
      margin-left: -5px;
      position: absolute;
      right: 3%;
      width: 0;
    }

    .menu-assignment {
      font-size: 15pt;
      position: absolute;
      right: 3px;
      top: 5px;
    }
  }

  .title-assignment {
    border-bottom: 1px solid $trainee-assignment-infor-detail;
    padding: 5px 0 5px 30px;
    position: relative;

    .div-status {
      bottom: 1px;
      font-size: 0;
      height: 40px;
      left: -13px;
      position: absolute;
      width: 15px;
    }

    .status {
      border-radius: 100%;
      height: 25px;
      position: absolute;
      width: 25px;
      z-index: 1000;
    }

    .status-init {
      background-color: $trainee-assignment-status-init-green;
      border: 3px solid $trainee-assignment-border-status-init-green;
    }

    .status-progress {
      background-color: $trainee-assignment-status-progress-blue;
      border: 3px solid $trainee-assignment-border-status-progress-blue;
    }

    .status-finish {
      background-color: $trainee-assignment-status-progress-red;
      border: solid 3px $trainee-assignment-border-status-progress-red;
    }
  }

  .header-task {
    position: relative;

    .label-header {
      bottom: 5px;
      font-size: 12pt;
      margin-left: 20px;
      position: absolute;
    }
  }
}

.list-container {
  background-color: $background-white;
  border-top: $green solid;
  height: 100vh;
  max-height: 85vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
  width: 100%;

  a {
    color: $black;
    text-decoration: none;
  }
}

.list-container::-webkit-scrollbar-track {
  background-color: $background-white;
  box-shadow: inset 0 0 6px $scrollbar-shadow;
}

.list-container::-webkit-scrollbar {
  background-color: $background-white;
  width: 6px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: $scrollbar-gray;
}

.team {
  height: 350px;
  margin-bottom: 30px;
  position: relative;

  h2 {
    background-color: $team-header-orange;
    color: $white;
    font-size: 1.4em;
    left: 0;
    line-height: 1.6em;
    margin: 0;
    margin-top: 0;
    padding: 10px 16px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 10;

    &::after {
      border: 8px solid transparent;
      border-right-color: $team-header-after-orange;
      border-top-color: $team-header-after-orange;
      bottom: -16px;
      content: ' ';
      left: 0;
      position: absolute;
      top: auto;
      width: 0;
    }
  }
}

.team:hover {

  .team-content {
    box-shadow: 4px 4px 15px 0 $box-shadow-hover-gray;
  }
}

.team-content {
  background-color: $team-background-yellow;
  bottom: 16px;
  box-shadow: 4px 4px 15px 0 $box-shadow-light-gray;
  left: 16px;
  overflow: hidden;
  padding-left: .625em;
  padding-right: .625em;
  padding-top: 5.6em;
  position: absolute;
  right: 0;
  top: 0;

  .team-user-subject-item {
    td {
      padding: 10px 0;
    }

    .user-subject-status {
      margin-right: 10px;
    }
  }
}

.init {
  color: $green;
}

.in-progress {
  color: $progress-blue;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.create-subject {
  margin: 0 25px;
}
