#admin-subject-show{
  margin-bottom: 10px;
  .add-task {
    .list-task {
      .panel-task {
        .create-task {
          .form {
            margin-bottom: 20px;
            input {
            margin-bottom: 10px;
            }
          }
          .submit{
            float: right;
          }
        }
      }
    }
  }
}
.blocks {
  .tab-bar {
    padding: 0px 14px;
    border-bottom: none;
    li {
      &.active {
        a {
          background: #00a65a !important;
          color: #fff;
        }
      }
      a {
        .fa {
          margin-right: 10px;
        }
      }
    }
  }
}


#assignment_box {
  padding: 10px;
  .assigment_item {
    display: flex;
    min-height: 50px;
    background-color: #31424d;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    .title_assignment {
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid white;
      .name {
        font-size: 16pt;
        font-weight: bold;
      }
      .content {
        font-size: 10pt;
      }
    }
    .detail {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .avatar_user {
      position: relative;
      img {
        width: 50px;
        height: 50px;
        position: absolute;
        border: 1px solid #f3f3e7;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
      }
    }
    .fa {
      margin-right: 5px;
    }
  }
}


