$header-orange: #ec583a;
$logo-hover-orange: #f75b3b;
$nav-header-background-color: #31424d;
$nav-header-font-color: #27363f;
$nav-li-active: #364a56;
$nav-li-border-active: #3c8dbc;
$light-gray: #c7d0d5;
$main-background-white: #f5f5f5;
$b-background: #d9d9d9;
$gridle-color: #649;
$c-red: #f00;
$c-blue: #00f;
$c-skin-framgia: #ff7148;
$c-white: #fff;
$c-grey: #f6f6f6;
$c-dropdown-hover: #367fa9;
$c-sidebar-hover: rgba(0, 0, 0, .1);
$c-li-divider: rgba(255, 255, 255, .1);
$c-sidebar-header: #b8c7ce;
$c-treeview-menu: #2c3b41;
$c-treeview-color: #8aa4af;
$c-sidebar-a: #d4d8db;
$c-sidebar-form: #374850;
$c-logo-hover: #3b8ab8;
$c-six: #666;
$c-eight: #888;
$c-nine: #999;
$c-black: #000;
$c-main-sidebar-fa: #c4cfda;
$c-main-sidebar-ul: #405563;
$c-six-b: #6b6b6b;
$c-footer-distributed: #292c2f;
$c-footer-company: #8f9296;
$c-footer-center-i: #33383b;
$c-footer-center-a: #5383d3;
$c-footer-company-about: #92999f;
$odd-bgcolor: #607d8b;
$even-bgcolor: #455a64;
$c-learning-programs-title: #eceff1;
$c-language: #f0f0f0;
$c-six-nine: #696969;
$c-name: #474647;
$c-program-timeline: #f5e9d4;
$c-program-timeline-before: #da853d;
$c-program-timeline-after: #5a7add;
$c-timeline-after: #def8ff;
$c-timeline-heading: #dada3d;
$c-wrapper: rgba(0, 0, 0, .5);
$c-language-hover: #ffe745;
$c-counter-counters-v2: #505050;
$c-counters-v2-icon: #efefef;
$c-header-li: #59a9bb;
$c-header-li-a-hover: #000;
$c-header-li-a-active: #d8ff9e;
$c-bottom-top: #39390c;
$c-content-footer-a: #e1e300;
$c-content-footer: #1a1a1a;
$c-content-footer-color: #cecece;
$c-login-modal-a: rgb(225, 227, 0);
$c-login-input-backgroud: rgb(225, 227, 0);
$c-login-h3-a: #ecba65;
$c-login-whitesmoke: #f5f5f5;
$c-eee: #eee;
