$header_orange: #ec583a;
$logo_hover_orange: #f75b3b;
$nav_header_background_color: #31424d;
$nav_header_font_color: #27363f;
$nav_li_active:#364a56;
$nav_li_border_active: #3c8dbc;
$light_gray: #c7d0d5;
$main_background_white: #f5f5f5;
