@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#myDiagramDiv {
  border: solid 1px blue;
  width: 90%;
  height: 75vh;
  margin: 15px 5% 0;
  padding: 30px;
}
