@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';

.error-explanation {
  color: $c-red;

  ul {
    color: $c-red;
    margin: 0 0 30px;
  }
}

.my-diagram-div {
  border: solid 1px $c-blue;
  height: 75vh;
  margin: 15px 5% 0;
  padding: 30px;
  width: 90%;
}

.main-header {
  .navbar {
    background: linear-gradient(45deg, $header-orange 43%, $header-orange 43%,
      $c-skin-framgia 57%, $c-skin-framgia 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=
      '$header-orange', endColorstr='$c-skin-framgia',GradientType=1);

    .sidebar-toggle {
      color: $c-white;
    }

    .sidebar-toggle:hover {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }

  .logo {
    background-color: $header-orange;
    border-bottom: 0 solid transparent;
    color: $c-white;
  }

  .logo:hover {
    background-color: $logo-hover-orange;
  }

  li {
    .user-header {
      background-color: $nav-header-background-color;
    }
  }
}

.nav {
  li {
    a {
      color: $c-white;
    }

    a:hover,
    a:active,
    a:focus {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }

  .open {
    a,
    a:hover,
    a:focus {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }

  .active {
    a {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    li {
      .divider {
        background-color: $c-li-divider;
      }

      a {
        color: $c-white;
      }

      a:hover {
        background: $c-dropdown-hover;
      }
    }
  }
}

.skin-framgia {
  .wrapper,
  .main-sidebar,
  .left-side {
    background-color: $nav-header-background-color;
  }

  .content-header {
    background: transparent;
  }

  .info {
    color: $c-white;

    a {
      color: $c-white;
    }
  }

  .sidebar-menu {
    .header {
      background: $nav-header-font-color;
      color: $c-sidebar-header;
      font-weight: bold;
    }

    a {
      border-left: 3px solid transparent;
    }
  }

  li {
    .treeview-menu {
      background: $c-treeview-menu;
      color: $c-treeview-color;
      margin: 0 1px;
    }

    hover,
    .active {
      background: $nav-li-active;
      border-left-color: $nav-li-border-active;
      color: $c-white;
    }
  }

  .sidebar {
    a {
      color: $c-sidebar-a;
    }

    a:hover {
      color: $c-white;
      text-decoration: none;
    }
  }

  .sidebar-form {
    border: 1px solid $c-sidebar-form;
    border-radius: 3px;
    margin: 10px;

    input,
    .btn {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      color: $c-six;
    }

    input,
    .input-group-btn,
    .btn {
      background-color: $c-white;
      color: $c-six;

    }

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      color: $c-nine;
    }
  }

  .layout-top-nav {
    .logo {
      background-color: $nav-li-border-active;
      border-bottom: 0 solid transparent;
      color: $c-whitefff;
    }

    .logo:hover {
      background-color: $c-logo-hover;
    }
  }
}
