@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.modal {
  text-align: center;
  border-radius: 10px;

  .modal-footer {
    text-align: center !important;
    .btn {
      margin: 0 10px;
    }
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-content {
    .btn {
      font-size: 18px;
    }
  }

  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
  }

  .dangerous {
    background-color: red;
  }

  .label-dialog-status {
    font-weight: bold;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
