@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';

.error-explanation {
  color: $c-red;

  ul {
    color: $c-red;
    margin: 0 0 30px;
  }
}

.my-diagram-div {
  border: solid 1px $c-blue;
  height: 75vh;
  margin: 15px 5% 0;
  padding: 30px;
  width: 90%;
}

.skin-framgia {
  .main-header {
    .navbar {
      background: linear-gradient(45deg, $header-orange 43%, $header-orange 43%,
        $c-skin-framgia 57%, $c-skin-framgia 57%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=
        '$header-orange', endColorstr='$c-skin-framgia',GradientType=1);
    }

    .logo {
      background-color: $header-orange;
      border-bottom: 0 solid transparent;
      color: $c-white;
    }

    .logo:hover {
      background-color: $logo-hover-orange;
    }
  }

  .open {
    a {
      color: $c-white;
    }

    a:hover,
    a:focus {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }

  .sidebar-toggle {
    color: $c-white;
  }

  .sidebar-toggle:hover {
    background: $logo-hover-orange;
    color: $c-grey;
  }

  .content-header {
    background: transparent;
  }

  .wrapper,
  .main-sidebar,
  .left-side {
    background-color: $nav-header-background-color;
  }
}

.sidebar {
  .active {
    a {
      background: $c-sidebar-hover;
      color: $c-grey;
    }
  }
}

.navbar-custom-menu {
  li {
    a {
      color: $c-white;
    }

    a:hover,
    a:focus {
      background: $c-sidebar-hover;
      color: $c-grey;
    }

    .user-header {
      background-color: $nav-header-background-color;
    }
  }
}

@media (max-width: 767px) {
  .skin-framgia {
    .dropdown-menu {
      .divider {
        background-color: $c-li-divider;
      }

      a {
        color: $c-white;
      }

      a:hover {
        background: $c-dropdown-hover;
      }
    }
  }
}

.user-panel {
  .info,
  a {
    color: $c-white;
  }
}

.sidebar-menu {
  .header {
    background: $nav-header-font-color;
    color: $c-sidebar-header;
    font-weight: bold;
  }
}

.sidebar-menu > li > a {
  border-left: 3px solid transparent;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > .active > a {
  background: $nav-li-active;
  border-left-color: $nav-li-border-active;
  color: $c-white;
}

.sidebar-menu > li > .treeview-menu {
  background: $c-treeview-menu;
  margin: 0 1px;
}

.skin-framgia .sidebar a {
  color: $c-sidebar-a;
}

.skin-framgia .sidebar a:hover {
  color: $c-white;
  text-decoration: none;
}

.treeview-menu > li > a {
  color: $c-treeview-color;
}

.treeview-menu > .active > a,
.treeview-menu > li > a:hover {
  color: $c-white;
}

.layout-top-nav .main-header > .logo {
  background-color: $nav-li-border-active;
  border-bottom: 0 solid transparent;
  color: $c-white;
}

.layout-top-nav .main-header > .logo:hover {
  background-color: $c-logo-hover;
}

.nav-tabs {
  .active {
    .tab-header,
    .tab-header:hover {
      color: $c-white;
    }
  }
}

.Breadcrumb {
  background-color: $c-breadcrumb-background;
  border-radius: 5px;
  color: $c-black;
  margin-bottom: 10px;
  padding: 8px;

  div {
    display: inline-block;
  }

  .Breadcrumb-container .Breadcrumb-path {
    font-size: 12pt;
    text-decoration: none;
    text-transform: capitalize;
  }

  .Breadcrumb-container .Breadcrumb-path a {
    text-decoration: none;
  }

  .Breadcrumb-container .Breadcrumb-separator {
    font-weight: bold;
    margin: 0 5px;
  }

  .Breadcrumb-container-dropdown a {
    text-decoration: none;
  }

}

.Breadcrumb-container-dropdown {
  cursor: pointer;

  li {
    a {
      color: $c-black;
      display: inline-block;
      width: 100%;
    }
  }
}

.Breadcrumb-container {
  border-radius: 5px;
  display: inline-block;
}

.Breadcrumb-container a {
  color: $c-white;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  outline: none;
  padding: 0 10px 0 40px;
  position: relative;
  text-decoration: none;
}

.Breadcrumb-container:first-child a {
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
}

.Breadcrumb-container:last-child a {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.Breadcrumb-container:last-child a:after {
  content: none;
}

.Breadcrumb-container a, .Breadcrumb-container a:after {
  background: $c-white;
  color: $c-black;
  transition: all 0.5s;
}

.Breadcrumb-container a:hover, .Breadcrumb-container a.active,
.Breadcrumb-container a:hover:after, .Breadcrumb-container a.active:after {
  background: $c-skin-framgia;
}

.Breadcrumb-container a:after {
  border-radius: 0 5px 0 50px;
  box-shadow: 3px -3px 0 1px $c-breadcrumb-after-shadow-1,
    3px -3px 0 2px $c-breadcrumb-after-shadow-2;
  content: '';
  height: 36px;
  position: absolute;
  right: -18px;
  transform: scale(0.707) rotate(45deg);
  top: 0;
  width: 36px;
  z-index: 1;
}

.open {
  .breadcrumb-link {
    color: $c-black !important;

    &:hover {
      background: $c-skin-framgia !important;
      font-style: italic;
    }
  }
}

.btn {
  .fa {
    pointer-events: none;
  }
}
