.ftms-logo {
  height: 50px;
  width: 200px;
}

.main-sidebar{
  .sidebar{
    ul li a{
      text-decoration: none;
    }

    ul li span.fa{
      float: right;
      text-align: center;
      margin-top: 5px;
      font-size: 10px;
      min-width: inherit;
      color: #C4CFDA;
    }

    ul li .hiddened{
      display: none;
      padding: 0 0 0 15px;
    }

    ul li .showed{
      display: block;
      padding: 0 0 0 15px;
    }

    ul li ul{
      background-color: #405563;
    }

    ul li ul li{
      padding: 5px;
    }

    ul li ul .active{
      background-color: #405563 !important;
    }

    ul li ul li {
      list-style-type: none;
      .fa {
        margin-right: 7px;
        color: #6b6b6b;
      }
    }
  }
}
