@import 'color';

.ftms-logo {
  height: 50px;
  width: 200px;
}

.sidebar {
  span {
    .fa {
      color: $c-main-sidebar-fa;
      float: right;
      font-size: 10px;
      margin-top: 5px;
      min-width: inherit;
      text-align: center;
    }
  }

  li {
    a {
      text-decoration: none;
    }

    .hiddened {
      display: none;
      padding: 0 0 0 15px;
    }

    .showed {
      display: block;
      padding: 0 0 0 15px;
    }

    .fa {
      margin-right: 7px;
    }

    .glyphicon {
      margin-right: 7px;
    }

    ul {
      background-color: $c-main-sidebar-ul;
    }
  }
}

.sub-li {
  list-style: none;
  padding: 5px;

  .fa {
    color: $c-six-b;
  }
}
