.ftms-logo {
  height: 50px;
  width: 200px;
}

.main-sidebar{
  .sidebar{
    ul li a{
      text-decoration: none;
    }

    ul li span.fa{
      float: right;
      text-align: center;
      margin-top: 5px;
      font-size: 10px;
      min-width: inherit;
      color: #C4CFDA;
    }

    ul li .hiddened{
      display: none;
    }

    ul li .showed{
      display: block;
    }

    ul li ul li{
      padding: 5px;
    }

    ul li ul .active{
      background-color: rgba(255, 255, 255, 0.06);
    }

    ul li ul li:hover{
      background-color: rgba(255, 255, 255, 0.06);
    }

    ul li ul li:before{
      background: #425668;
      bottom: auto;
      content: "";
      height: 8px;
      left: 23px;
      margin-top: 5px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      border-radius: 50%;
    }
  }
}
