@import 'color';

.footer-distributed {
  background-color: $c-footer-distributed;
  box-shadow: 0 1px 1px 0 $c-sidebar-hover;
  box-sizing: border-box;
  font: bold 16px sans-serif;
  padding: 50px;
  text-align: left;
  width: 100%;

  .footer-left,
  .footer-center,
  .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  .footer-left {
    width: 40%;
  }

  h3 {
    color: $c-white;
    font: normal 36px 'Cookie', cursive;
    margin: 0;

    span {
      color: $c-footer-center-a;
    }
  }

  .footer-links {
    color: $c-white;
    margin: 20px 0 12px;
    padding: 0;

    a {
      color: inherit;
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
    }
  }

  .footer-company-name {
    color: $c-footer-company;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .footer-center {
    width: 35%;

    i {
      background-color: $c-footer-center-i;
      border-radius: 50%;
      color: $c-white;
      font-size: 25px;
      height: 38px;
      line-height: 42px;
      margin: 10px 15px;
      text-align: center;
      vertical-align: middle;
      width: 38px;
    }

    .fa-envelope {
      font-size: 17px;
      line-height: 38px;
    }

    p {
      color: $c-white;
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 2;
    }

    a {
      color: $c-footer-center-a;
      text-decoration: none;
    }
  }

  .footer-right {
    width: 20%;
  }

  .footer-company-about {
    color: $c-footer-company-about;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;

    span {
      color: $c-white;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .footer-icon {
    display: flex;
  }

  .footer-icons {
    margin-top: 25px;

    a {
      background-color: $c-footer-center-i;
      border-radius: 2px;
      color: $c-white;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 5px;
      margin-right: 3px;
      text-align: center;
      width: 35px;
    }
  }
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;

    .footer-left,
    .footer-center,
    .footer-right {
      display: block;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;
    }

    .footer-center i {
      margin-left: 0;
    }
  }
}
