@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';

$black: #000;
$white: #fff;
$excellent-orange: #ff7148;
$great-yellow: #fff15e;
$normal-green: #24cc51;
$lighter-orange: #ff8d6d;
$shadow-gray: #999;
$h3-gray: #5b5b5b;

.certificate-form {
  background-size: 15%;
  height: 650px;
  position: relative;

  .certificate-header {
    img {
      width: 25%;
    }
  }

  .certificate-body {
    width: 100%;

    .certificate-title {
      font-size: 52px;
      font-style: italic;
      font-weight: bold;
      text-shadow: 3px 3px $shadow-gray;
    }

    .main-content {
      margin-top: 30px;
    }
  }

  .certicate-footer {
    bottom: 15px;
    position: absolute;
    width: 100%;
  }

  hr {
    border: 1px solid $black;
    width: 50%;
  }

  .individual-name {
    font-size: 36px;
  }

  .static-text {
    font-style: italic;
    margin: 0 auto;
    width: 90%;
  }

  .certificate-program {
    font-weight: bold;
  }

  .certificate-result {
    font-style: italic;
    font-weight: bold;
  }

  .result-size {
    font-size: 32px;

    h3 {
      color: $h3-gray;
      font-style: italic;
    }
  }

  .excellent {
    color: $excellent-orange;
  }

  .great {
    color: $great-yellow;
  }

  .normal {
    color: $normal-green;
  }

  .ribbon {
    display: inline-block;
    margin-bottom: 45px;
    position: relative;
    width: 500px;
  }

  .sub-ribbon {
    background-color: $excellent-orange;
    color: $white;
    display: block;
    font-size: 22px;
    height: 40px;
    position: absolute;
    width: 500px;
    z-index: 3;
  }

  .ribbon-before,
  .ribbon-after {
    border-style: solid;
    border-width: 0;
    content: '';
    height: 0;
    position: absolute;
    top: 6px;
    width: 0;
    z-index: 1;
  }

  .ribbon-before {
    border-color: $lighter-orange $lighter-orange $lighter-orange transparent;
    border-width: 19px;
    left: -25px;
  }

  .ribbon-after {
    border-color: $lighter-orange transparent $lighter-orange $lighter-orange;
    border-width: 19px;
    right: -25px;
  }
}

.button-download-pdf {
  margin-top: 15px;
  width: 50%;
}

.background-img {
  img {
    height: 150px;
    width: 150px;
  }
}

.background-img-top-left {
  img {
    left: 10px;
    position: absolute;
    top: 10px;
  }
}

.background-img-top-right {
  img {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.background-img-bottom-left {
  img {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }
}

.background-img-bottom-right {
  img {
    bottom: 10px;
    position: absolute;
    right: 10px;
  }
}
