$c-red: #F00;
$c-orange: #FFD09C;

.count-down-box {
  width: 240px;
  position: fixed;
  top: 100px;
  right: 50px;
  border: 1px solid $c-red;
  background: $c-orange;
  z-index: 999;
  padding: 10px;

  .number {
    font-size: 25px;
    font-weight: bold;
  }
}
