@import '../../assets/sass/color_status';

.cursor {
  cursor: pointer;
}

.list-item-of-course {
  margin-top: 7px;
}

.hidden-item {
  visibility: hidden;
}

.add-task {
  background-color: $c-add-task;
  color: $c-white;
  margin-top: 10px;

  &:hover {
    color: $c-white;
  }

  &:focus {
    color: $c-white;
  }

  i {
    margin-right: 5px;
  }
}

.custom-info {
  padding-right: 10px;
}

.direct-document {
  overflow: hidden;
  float: left;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview-document-button {
  float: right;
}
