@import '../../assets/sass/color_status';

.margin-form-create {
  margin-top: 20px;
}

.btn-new {
  background-color: $c-organization-back;
  border: 0;
  color: $c-white;

  &:hover {
    background-color: $c-organization-back;
    color: $c-white;
  }

  &:focus {
    background-color: $c-organization-back;
    color: $c-white;
  }
}
